<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>SpringBootDemo</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!--encoder 默认配置为PatternLayoutEncoder-->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger Line:%-3L - %msg%n</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter>
  </appender>

  <logger name="org.springframework" level="WARN" />
  <logger name="org.mybatis.spring" level="WARN" />
  <logger name="org.hibernate.validator" level="INFO" />
  <logger name="druid.sql.Statement" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>